.div {
    background-color: gray;
    border-radius: 50px;
    box-shadow: 2px 2px black;
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    opacity: 0;
} 

.button:hover {
    cursor: pointer;
}


.h {
    background-color: gray;
    box-shadow: 2px 2px black;
    text-shadow: 2px 2px black;
    
}

.text {
    font-style: italic;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.north {
    width: 400px;
    height: 300px;
}