.title1 {
    background-color: gray;
    box-shadow: 2px 2px black;
    border-radius: 50px;
    height: 100px;
}
.title2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.h1 {
    background-color: gray;
    box-shadow: 2px 2px black;
    text-shadow: 2px 2px black;
    
}

.Text {
    font-style: italic;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.button {
    opacity: 0;
}


body {
    background-image: url("Quaderno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.china {
    height: 700px;
    width: 1000px;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .china {
        width: 80%;
        
    }
}
